[mcu]
serial: /dev/serial/by-id/usb-Klipper_same70q20b_00313853314B51353235303335303036-if00
#   The serial port to connect to the MCU. If unsure (or if it
#   changes) see the "Where's my serial port?" section of the FAQ.
#   This parameter must be provided when using a serial port.
baud: 250000
#   The baud rate to use. The default is 250000.
#canbus_uuid:
#   If using a device connected to a CAN bus then this sets the unique
#   chip identifier to connect to. This value must be provided when using
#   CAN bus for communication.
#canbus_interface:
#   If using a device connected to a CAN bus then this sets the CAN
#   network interface to use. The default is 'can0'.
#restart_method:
#   This controls the mechanism the host will use to reset the
#   micro-controller. The choices are 'arduino', 'cheetah', 'rpi_usb',
#   and 'command'. The 'arduino' method (toggle DTR) is common on
#   Arduino boards and clones. The 'cheetah' method is a special
#   method needed for some Fysetc Cheetah boards. The 'rpi_usb' method
#   is useful on Raspberry Pi boards with micro-controllers powered
#   over USB - it briefly disables power to all USB ports to
#   accomplish a micro-controller reset. The 'command' method involves
#   sending a Klipper command to the micro-controller so that it can
#   reset itself. The default is 'arduino' if the micro-controller
#   communicates over a serial port, 'command' otherwise.

[board_pins]
# Pins can be found from
# ref: https://github.com/Duet3D/RepRapFirmware/blob/3.4-dev/src/Duet3_V06/Pins_Duet3_V06.h
# ref: https://github.com/Duet3D/RepRapFirmware/blob/3.4-dev/src/Config/Pins_Duet3_MB6HC.h
# ref: https://github.com/Duet3D/Duet3-Mainboard-6HC/blob/master/Duet3_Mainboard_v1.01/Duet3_MB_Schematic_v1.01.pdf
aliases:
    # Drivers
    DRIVER_ENN=PA9,
    DRIVER_CS=PD17,

    DRIVER0_STEP=PC18, DRIVER0_DIR=PB5, DRIVER0_DIAG=PD29,
    DRIVER1_STEP=PC16, DRIVER1_DIR=PD10, DRIVER1_DIAG=PC17,
    DRIVER2_STEP=PC28, DRIVER2_DIR=PA4, DRIVER2_DIAG=PD13,
    DRIVER3_STEP=PC1, DRIVER3_DIR=PA22, DRIVER3_DIAG=PC2,
    DRIVER4_STEP=PC4, DRIVER4_DIR=PC3, DRIVER4_DIAG=PD31,
    DRIVER5_STEP=PC9, DRIVER5_DIR=PD14, DRIVER5_DIAG=PC10,

    # IO
    IO0_IN=PD25, IO0_OUT=PD26,
    IO1_IN=PD15, IO1_OUT=PD16,
    IO2_IN=PD28, IO2_OUT=PD27,
    IO3_IN=PE5, IO3_OUT=PA3,
    IO4_IN=PD30, IO4_OUT=PE0,
    IO5_IN=PA19, IO5_OUT=PD21,
    IO6_IN=PA18, IO6_OUT=PA0,
    IO7_IN=PA17, IO7_OUT=PC23,
    IO8_IN=PE3, IO8_OUT=PE1,

    # Thermistor
    TEMP0=PC15, TEMP1=PC29, TEMP2=PC30, TEMP3=PC31,

    # PWM
    OUT0=PA7,
    OUT1=PA24,
    OUT2=PA16,
    OUT3=PA11,
    OUT4=PA15, OUT4_TACH=PC7,
    OUT5=PC5, OUT5_TACH=PD23,
    OUT6=PA8, OUT6_TACH=PA1,
    OUT7=PC11,
    OUT8=PC8,
    OUT9=PA12,

    # VREF/VSSA
    VREF=PC0, VSSA=PC13,

    # Shared SPI (USART 1)
    SCK=PB13, MOSI=PB1, MISO=PB0

[adc_scaled vref_scaled]
vref_pin: VREF
#   The ADC pin to use for VREF monitoring. This parameter must be
#   provided.
vssa_pin: VSSA
#   The ADC pin to use for VSSA monitoring. This parameter must be
#   provided.
#smooth_time: 2.0
#   A time value (in seconds) over which the vref and vssa
#   measurements will be smoothed to reduce the impact of measurement
#   noise. The default is 2 seconds.

[printer]
kinematics: cartesian
#   The type of printer in use. This option may be one of: cartesian,
#   corexy, corexz, hybrid_corexy, hybrid_corexz, rotary_delta, delta,
#   polar, winch, or none. This
#   parameter must be specified.
max_velocity: 300
#   Maximum velocity (in mm/s) of the toolhead (relative to the
#   print). This parameter must be specified.
max_accel: 4000
#   Maximum acceleration (in mm/s^2) of the toolhead (relative to the
#   print). This parameter must be specified.
#max_accel_to_decel:
#   A pseudo acceleration (in mm/s^2) controlling how fast the
#   toolhead may go from acceleration to deceleration. It is used to
#   reduce the top speed of short zig-zag moves (and thus reduce
#   printer vibration from these moves). The default is half of
#   max_accel.
square_corner_velocity: 8.0
#   The maximum velocity (in mm/s) that the toolhead may travel a 90
#   degree corner at. A non-zero value can reduce changes in extruder
#   flow rates by enabling instantaneous velocity changes of the
#   toolhead during cornering. This value configures the internal
#   centripetal velocity cornering algorithm; corners with angles
#   larger than 90 degrees will have a higher cornering velocity while
#   corners with angles less than 90 degrees will have a lower
#   cornering velocity. If this is set to zero then the toolhead will
#   decelerate to zero at each corner. The default is 5mm/s.
max_z_velocity: 30
#   This sets the maximum velocity (in mm/s) of movement along the z
#   axis. This setting can be used to restrict the maximum speed of
#   the z stepper motor. The default is to use max_velocity for
#   max_z_velocity.
max_z_accel: 300
#   This sets the maximum acceleration (in mm/s^2) of movement along
#   the z axis. It limits the acceleration of the z stepper motor. The
#   default is to use max_accel for max_z_accel.

# HARDWARE
[include hardware/mcu_pi.cfg]
[include hardware/adxl.cfg]
[include hardware/axis.cfg]
[include hardware/extruder.cfg]
[include hardware/heated_bed.cfg]
[include hardware/fans.cfg]
[include hardware/bltouch.cfg]
[include hardware/sensors.cfg]

# ADDITIONAL FUNCTIONALITIES
[include functions/firmware_retraction.cfg]
[include functions/exclude_objects.cfg]
[include functions/input_shaper.cfg]
[include functions/idle_timeout.cfg]
[include functions/save_variables.cfg]
[include functions/gcode_arcs.cfg]
[include functions/respond.cfg]
[include functions/force_move.cfg]
[include functions/virtual_sdcard.cfg]
[include functions/safe_z_home.cfg]
[include functions/bed_mesh.cfg]
[include functions/z_tilt.cfg]

# MACROS & etc
[include macros/macros.cfg]
[include macros/shell-macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 2.120
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.640
#*# pid_ki = 1.722
#*# pid_kd = 110.907
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 53.227
#*# pid_ki = 0.903
#*# pid_kd = 784.438
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.127812, -0.047812, 0.000625, -0.000937, 0.031250, 0.018438, -0.069375
#*# 	  -0.092187, -0.024062, -0.001250, 0.016250, 0.034688, 0.008125, -0.076250
#*# 	  -0.084375, -0.032500, -0.010937, 0.013750, 0.030625, -0.002187, -0.086250
#*# 	  -0.118125, -0.077500, -0.046875, 0.000000, -0.006875, -0.022500, -0.090312
#*# 	  -0.129063, -0.082813, -0.067188, -0.046875, -0.012813, -0.019375, -0.069063
#*# 	  -0.140000, -0.101563, -0.085313, -0.064063, -0.045625, -0.053438, -0.066875
#*# 	  -0.170000, -0.132500, -0.115625, -0.094063, -0.079063, -0.085625, -0.100938
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 31.0
#*# max_x = 214.96
#*# min_y = 10.0
#*# max_y = 205.0
